body{
  background-color: lightgrey;
  font-family: arial;
}

article{
  background-color: black;
  coloar: white;
  width: 30%
  border-style: solid;
  border-color: blue;
  border-width: 2px;
  padding: 5px;
  float: left;
}
